{% extends 'BlogBundle::base.html.twig' %}

{% block title %}{{ blog_entry.title }}{% endblock %}

{% block blog_content %}
    <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">{{ blog_entry.title }}</h4>
                            <h6 class="media-heading">
                                <span class="fa fa-user"></span> {{ blog_entry.author.username }} &#8226 
                                <span class="fa fa-folder"></span>
                                {% if blog_entry.category %}
                                    <a href="{{ path('bizbink_blog_category', {'slug': blog_entry.category.slug}) }}"> {{ blog_entry.category.name }} </a>
                                {% else %}
                                    N/A
                                {% endif %}
                                &#8226 
                                <span class="fa fa-calendar"></span> {{ blog_entry.datetime | date('F jS \\a\\t g:ia') }}
                            </h6>

                            {{ blog_entry.content | raw }}

                            {% if not blog_entry.tags is empty %}
                                <hr>

                                {% for tag in blog_entry.tags %}
                                    <a href="{{ path('bizbink_blog_tag', {'slug': tag.slug}) }}" class="btn btn-xs btn-primary" role="button">{{ tag.name }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}