{% extends 'BlogBundle::base.html.twig' %}

{% trans_default_domain 'blog' %}

{% block title %}{{ 'entry.page'|trans }}{% endblock %}

{% block blog_content %}
    <div class="row">
        {% for blog_entry in blog_entries %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="{{ path('bizbink_blog_entry_view', {'id': blog_entry.id, 'slug': blog_entry.slug}) }}">{{ blog_entry.title }}</a></h4>
                            <h6 class="media-heading">
                                <span class="fa fa-user"></span> {{ blog_entry.author.username }} &#8226 
                                <span class="fa fa-folder"></span>
                                {% if blog_entry.category %}
                                    <a href="{{ path('bizbink_blog_category', {'slug': blog_entry.category.slug}) }}"> {{ blog_entry.category.name }} </a>
                                {% else %}
                                    N/A
                                {% endif %}
                                &#8226 
                                <span class="fa fa-calendar"></span> {{ blog_entry.datetime | date('F jS \\a\\t g:ia') }}
                            </h6>

                            <p>{{ blog_entry.content|striptags|slice(0, 255) }}...</p>

                            {% if not blog_entry.tags is empty %}
                                <hr>

                                {% for tag in blog_entry.tags %}
                                    <a href="{{ path('bizbink_blog_tag', {'slug': tag.slug}) }}" class="btn btn-xs btn-primary" role="button">{{ tag.name }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <nav>
            <ul class="pager">
                <li class="{{ page <= 1 ? 'disabled' }}"><a href="{{ path('bizbink_blog_category_page', {'slug': category.slug, 'page': page - 1}) }}">Previous</a></li>
                <li><a href="{{ path('bizbink_blog_category_page', {'slug': category.slug, 'page': page + 1}) }}">Next</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}